footer.footer 
    .container 
        .footer__inner 
            .footer__col 
                p @ 2020 A ROME PIZZA
                p
                    a(href="#").footer__policy Политика конфиденциальности 

            ul.footer__menu 
                li.footer__menu-item 
                    a(href="#").footer__menu-link Меню
                li.footer__menu-item 
                    a(href="#").footer__menu-link О нас
                li.footer__menu-item 
                    a(href="#").footer__menu-link Вакансии
                li.footer__menu-item 
                    a(href="#").footer__menu-link Доставка и оплата
            .footer__col 
                p 
                    a(href="tel:+78432929709") +7 (843) 292-97-09 
                .footer__social 
                    span Наши социальные сети:
                    .footer__social-group 
                        a(href="#").footer__social-item 
                            picture 
                                source(srcset="img/webp/fs.webp", type="image/webp")
                                img(src="img/fs.png", alt="")



script(src="js/swiper.js")
script(src="js/fancybox.js") 
script(src="js/main.js")    