-
    const mainScreen = [
        {
            webp: 'img/webp/main-screen.webp',
            img: 'img/main-screen.jpg',
            heading: 'Ресторан итальянской кухни',
            descr: 'Окунись в атмосферу Италии в самом центре Казани!',
            btn: true,
        },
        {
            webp: 'img/webp/main-screen.webp',
            img: 'img/main-screen.jpg',
            heading: 'Слайд 2',
            descr: 'Описание слайда 2',
        },
        {
            webp: 'img/webp/main-screen.webp',
            img: 'img/main-screen.jpg',
            heading: 'Слайд 3',
            descr: 'Описание слайда 3',
        },
    ]

    const mainCategories = [
        {
            
            webp: 'img/webp/mc-1@x2.webp',
            img: 'img/mc-1@x2.jpg',
            name: 'Пицца',
        },
        {
            
            webp: 'img/webp/mc-2@x2.webp',
            img: 'img/mc-2@x2.jpg',
            name: 'Салаты',
        },
        {
            
            webp: 'img/webp/mc-3@x2.webp',
            img: 'img/mc-3@x2.jpg',
            name: 'Супы',
        },
        {
            
            webp: 'img/webp/mc-4@x2.webp',
            img: 'img/mc-4@x2.jpg',
            name: 'Мясные блюда',
        },

        {
            
            webp: 'img/webp/mc-5@x2.webp',
            img: 'img/mc-5@x2.jpg',
            name: 'Рыбные блюда',
        },
        {
            
            webp: 'img/webp/mc-6@x2.webp',
            img: 'img/mc-6@x2.jpg',
            name: 'Паста',
        },
        {
            
            webp: 'img/webp/mc-7@x2.webp',
            img: 'img/mc-7@x2.jpg',
            name: 'Холодные закуски',
        },
        {
            
            webp: 'img/webp/mc-8@x2.webp',
            img: 'img/mc-8@x2.jpg',
            name: 'Горячие закуски',
        },
        {
            
            webp: 'img/webp/mc-9@x2.webp',
            img: 'img/mc-9@x2.jpg',
            name: 'Бургеры и сэндвичи',
        },
        {
            
            webp: 'img/webp/mc-10@x2.webp',
            img: 'img/mc-10@x2.jpg',
            name: 'Ризотто',
        },
        {
            
            webp: 'img/webp/mc-11@x2.webp',
            img: 'img/mc-11@x2.jpg',
            name: 'Гарниры',
        },
        {
            
            webp: 'img/webp/mc-12@x2.webp',
            img: 'img/mc-12@x2.jpg',
            name: 'Соусы',
        },

        {
            
            webp: 'img/webp/mc-13@x2.webp',
            img: 'img/mc-13@x2.jpg',
            name: 'Завтраки',
        },
        {
            webp: 'img/webp/mc-14@x2.webp',
            img: 'img/mc-14@x2.jpg',
            name: 'Десерты',
        },
        {
            
            webp: 'img/webp/mc-15@x2.webp',
            img: 'img/mc-15@x2.jpg',
            name: 'Детское меню',
        },
        {
            
            webp: 'img/webp/mc-16@x2.webp',
            img: 'img/mc-16@x2.jpg',
            name: 'Полуфабрикаты',
        },
    ]

    const mainProducts = [
        {
            webp: 'img/webp/pc-1@x2.webp',
            img: 'img/pc-1@x2.jpg',
            name: 'Пицца Маргарита',
            descr: 'Тесто, томатный соус, сыр, томаты, базилик, орегано',
            weight: '400 грамм',
            currentPrice: '300 ₽',
        },
        {
            webp: 'img/webp/pc-2@x2.webp',
            img: 'img/pc-2@x2.jpg',
            name: 'Пицца Фрутти ди Маро',
            descr: 'Тесто, томатный соус, сыр, морепродукты, лук, орегано',
            weight: '420 грамм',
            currentPrice: '350 ₽',
        },
        {
            webp: 'img/webp/pc-3@x2.webp',
            img: 'img/pc-3@x2.jpg',
            name: 'Пицца Баварская',
            descr: 'Тесто, томатный соус, сыр, бекон, колбаски пеппероне, соус бафалло',
            weight: '470 грамм',
            currentPrice: '430 ₽',
        },
        {
            webp: 'img/webp/pc-4@x2.webp',
            img: 'img/pc-4@x2.jpg',
            name: 'Пицца Болоньезе',
            descr: 'Тесто, томатный соус, сыр, соус болоньезе, орегано',
            weight: '450 грамм',
            currentPrice: '350 ₽',
        },
        {
            webp: 'img/webp/pc-1@x2.webp',
            img: 'img/pc-1@x2.jpg',
            name: 'Пицца Маргарита',
            descr: 'Тесто, томатный соус, сыр, томаты, базилик, орегано',
            weight: '400 грамм',
            currentPrice: '300 ₽',
        },
        {
            webp: 'img/webp/pc-2@x2.webp',
            img: 'img/pc-2@x2.jpg',
            name: 'Пицца Фрутти ди Маро',
            descr: 'Тесто, томатный соус, сыр, морепродукты, лук, орегано',
            weight: '420 грамм',
            currentPrice: '350 ₽',
        },
        {
            webp: 'img/webp/pc-3@x2.webp',
            img: 'img/pc-3@x2.jpg',
            name: 'Пицца Баварская',
            descr: 'Тесто, томатный соус, сыр, бекон, колбаски пеппероне, соус бафалло',
            weight: '470 грамм',
            currentPrice: '430 ₽',
        },
        
    ]

    const mainPromo = [
        {
            webp: 'img/webp/pr-1@x2.webp',
            img: 'img/pr-1@x2.jpg',
            slogan: 'Время ланча',
            text: ['С понедельника по пятницу с 12 до 15', 'скидка 20% на все меню по кухне']
        },
        {
            webp: 'img/webp/pr-2@x2.webp',
            img: 'img/pr-2@x2.jpg',
            slogan: 'Акция в будние дни',
            text: ['При заказе двух', 'десертов чайник чая в подарок']
        },
        {
            webp: 'img/webp/pr-3@x2.webp',
            img: 'img/pr-3@x2.jpg',
            slogan: 'Акция выходного дня',
            text: ['Закажи три пиццы и получи', 'четвёртую в подарок']
        },
        {
            webp: 'img/webp/pr-1@x2.webp',
            img: 'img/pr-1@x2.jpg',
            slogan: 'Время ланча',
            text: ['С понедельника по пятницу с 12 до 15', 'скидка 20% на все меню по кухне']
        },
        {
            webp: 'img/webp/pr-2@x2.webp',
            img: 'img/pr-2@x2.jpg',
            slogan: 'Акция в будние дни',
            text: ['При заказе двух', 'десертов чайник чая в подарок']
        },
        {
            webp: 'img/webp/pr-3@x2.webp',
            img: 'img/pr-3@x2.jpg',
            slogan: 'Акция выходного дня',
            text: ['Закажи три пиццы и получи', 'четвёртую в подарок']
        },
        
    ]

    const mainReviews = [
        {
            name: 'Darina Sokolovskaya',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Хорошее заведение!', 'Все понравилось, еда и приятная атмосфера. Очень вкусная пицца на очень тонком тесте. Вежливый и отзывчивый персонал!']
        },
        {
            name: 'Ирина Федосова',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Очень нравится пиццерия. Очень вкусная пицца. Доставляют быстро горячей и хрустящей. Все,что заказывала мне понравилось. Очень хорошие повара']
        },
        {
            name: '​Ildar Gizatullin',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно', 'Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно']
        },
        {
            name: 'Darina Sokolovskaya',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Хорошее заведение!', 'Все понравилось, еда и приятная атмосфера. Очень вкусная пицца на очень тонком тесте. Вежливый и отзывчивый персонал!']
        },
        {
            name: 'Ирина Федосова',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Очень нравится пиццерия. Очень вкусная пицца. Доставляют быстро горячей и хрустящей. Все,что заказывала мне понравилось. Очень хорошие повара']
        },
        {
            name: '​Ildar Gizatullin',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно', 'Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно']
        },
        {
            name: 'Darina Sokolovskaya',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Хорошее заведение!', 'Все понравилось, еда и приятная атмосфера. Очень вкусная пицца на очень тонком тесте. Вежливый и отзывчивый персонал!']
        },
        {
            name: 'Ирина Федосова',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Очень нравится пиццерия. Очень вкусная пицца. Доставляют быстро горячей и хрустящей. Все,что заказывала мне понравилось. Очень хорошие повара']
        },
        {
            name: '​Ildar Gizatullin',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно', 'Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно']
        },
        {
            name: 'Darina Sokolovskaya',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Хорошее заведение!', 'Все понравилось, еда и приятная атмосфера. Очень вкусная пицца на очень тонком тесте. Вежливый и отзывчивый персонал!']
        },
        {
            name: 'Ирина Федосова',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Очень нравится пиццерия. Очень вкусная пицца. Доставляют быстро горячей и хрустящей. Все,что заказывала мне понравилось. Очень хорошие повара']
        },
        {
            name: '​Ildar Gizatullin',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно', 'Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно']
        },
        {
            name: 'Darina Sokolovskaya',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Хорошее заведение!', 'Все понравилось, еда и приятная атмосфера. Очень вкусная пицца на очень тонком тесте. Вежливый и отзывчивый персонал!']
        },
        {
            name: 'Ирина Федосова',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Очень нравится пиццерия. Очень вкусная пицца. Доставляют быстро горячей и хрустящей. Все,что заказывала мне понравилось. Очень хорошие повара']
        },
        {
            name: '​Ildar Gizatullin',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно', 'Самая лучшая пицца в Казани. Не пирог с добавлением всего подряд, а именно классическая итальянская пицца!', 'Заведение работает очень давно']
        },
        {
            name: 'Ирина Федосова',
            contact: '+7 (843) 292-хх-хх',
            descr: ['Очень нравится пиццерия. Очень вкусная пицца. Доставляют быстро горячей и хрустящей. Все,что заказывала мне понравилось. Очень хорошие повара']
        },
    ]